<div class="video-list" style="">
  <div class="header" style="width: 500px">
    <!-- <h2 class="title">Danh sách Camera</h2>
    <p>
      <span style="font-weight: 600">
        Tự động phát
      </span>
      <mat-slide-toggle (change)="onChange()" [checked]="playNext" aria-label="Enable autoplay"></mat-slide-toggle>
    </p> -->
  </div>
  <mat-nav-list class="list" style="max-width: 500px">
    <!-- <a
      mat-list-item
      class="list-item"
      *ngFor="let video of videoList; let i = index"
      [ngClass]="{ active: video.selected }"
      (click)="playIt(i)"
    >
      <i class="material-icons">play_arrow</i>
      {{ video.name }}
    </a> -->
  </mat-nav-list>
  <h2 style="margin-left: 30px !important;">Danh sách Scan Qrcode</h2>

  <table class="styled-table" *ngIf="listResult">
    <thead>
    <tr>
      <th>ID</th>
      <th>Ảnh hàng hóa</th>
      <th>Ảnh Qrcode</th>
      <th>Số hiệu bưu gửi</th>
      <th>Dịch vụ</th>
      <th>Địa chỉ nhận</th>
      <th>Trọng lượng</th>
      <th>Mã bưu chính</th>
      <th>Bưu cục gốc</th>
      <th>Bưu cục nhận</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of listResult; let i = index"
        style="cursor: pointer"
        class="active-row"
    >
      <td (click)="showDetailAll(i,'all')">
        <span >{{result.id}}</span>
      </td>
      <td >
        <img [src]="result.imgGoods" alt="verison imgs" class="img-td" (click)="showDetailImg(i,'imgGoods')">
      </td>
      <td >
        <img [src]="result.imgQrcode" alt="verison imgs" class="img-td" (click)="showDetailImg(i,'imgQrcode')">
      </td>
      <td (click)="showDetailAll(i,'all')">
        <span >{{result.itemCode}}</span>
      </td>
      <td (click)="showDetailAll(i,'all')">
        <span >{{result.serviceCode}}</span>
      </td>
      <td (click)="showDetailAll(i,'all')">
        <span >{{result.receiverAddressCode}}</span>
      </td>
      <td (click)="showDetailAll(i,'all')">
        <span >{{result.weight}}</span>
      </td>
      <td (click)="showDetailAll(i,'all')">
        <span >{{result.receiverAddressCode}}</span>
      </td>
      <td (click)="showDetailAll(i,'all')">
        <span >{{result.acceptancePOSCode}}</span>
      </td>
      <td (click)="showDetailAll(i,'all')">
        <span >{{result.poscode}}</span>
      </td>

    </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button type="button" class="btn btn-primary" (click)="truoc()">< Trang trước</button>
    <span class="pagination-number">
      {{page}} / {{ maxPage}}
    </span>
    <button type="button" class="btn btn-primary" (click)="sau()">Trang sau ></button>
    <span class="pagination-number" style="background-color: rgb(105, 85, 22) !important;">
      Tổng số: {{total}}
    </span>
  </div>
<!--  <div>{{roboFlowQRcode}}</div>-->
<!--  <div>{{roboFlowGoods}}</div>-->

<!--  <pagination-->
<!--    *ngIf="listResult.length > 5"-->
<!--    [boundaryLinks]="true"-->
<!--    [totalItems]="listResult.length"-->
<!--    [(ngModel)]="page"-->
<!--    [itemsPerPage]="itemsPerPage"-->
<!--    (pageChanged)="loadPage($event)"-->
<!--    [maxSize]="5"-->
<!--    [rotate]="true"-->
<!--    class="pagination"-->
<!--  ></pagination>-->

</div>
